body {
    background-image: url();
    background-position: fill;
}

#locationSpace {
    display: flex; 
    flex-direction: row;
    margin: 5%;
}

#locationsOfMovie {
    max-width: 35%;
    margin: 1%;
}

.movieCard {
    max-width: 35%;
    margin: auto;
}

#buttonDiv {
    margin: 1%;
}

.navbar {
    background-image: url(images/Spices.png);
    align-content: center;
    height: 100px;
}

.addedClass {
    display: none;
}