body {
    background-image: url();
    background-position: fill;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.navbar {
    background-image: url(images/Spices.png);
    align-content: center;
    height: 100px;
}

.banner {
    display: flex;
    justify-content: center;
}

.locationsOf {
    display: inline-table;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 25.3%;
    margin: 1%;
    padding: auto;
}

#locationSpace {
    margin: 5%;
    margin-left: 16.5%;
}

.movieCard {
    max-width: 25%;
    margin: auto;
}

#movieSpace {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.card-img-top {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 5;
    margin: 0 auto;
}

.this {
    max-height: 35%;
}

#selectedMovie {
    display: flex; 
    justify-content: center;
    margin-top: 2%;
}

.active-orange-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f1c461;
    box-shadow: 0 1px 0 0 #f1c461;
}
.active-orange input[type=text] {
    border-bottom: 1px solid #f1c461;
    box-shadow: 0 1px 0 0 #f1c461;
}

.active-orange .fa, .active-purple-2 .fa {
    color: #f1c461;
}